<html>
    <head>
        <title>insertion in database with table</title>
        <link rel="stylesheet" href="cssofloginpage.css">
    </head>
    <body style="background-color: #072946 ;" >
    

    <div class="hero"> 
  <div class="hero__title"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>

        <center> 
        
        <form method="post" action="/submit">
    <table border="2px"  style="margin-top: 190px; " cellspacing=0px> 
<tr>
    <td style=" background-color: #01111f;
    color: #21ebff;
    padding-top:3px;
    height:61px;
    border:1px solid #01111f" colspan="2">
    <p style="font:30px;">Sign UP</p></td>
</tr>
            <tr style="margin: 0px;">
                <td style="color: #21ebff;
                 height:40px;
                  background-color: #01111f; 
                  border:1px solid #01111f;" >First Name</td>
                <td ><input type="text" name="firstname" id="firstname"  required></td> 
            </tr>

            <tr>
                <td style="color: #21ebff; 
                background-color: #01111f; 
                border:1px solid #01111f;
                font-family: 'Times New Roman', Times, serif;
                "
                >Last Name</td>
                <td><input type="text" name="lastname" id="lastname"  required></td>
            </tr>
            <tr>
                <td style="color: #21ebff; 
                background-color: #01111f;
                border:1px solid #01111f;">Email</td>
                <td><input type="text" name="Email" id="Email"  required></td>
            </tr>
            <tr>
                <td style="color: #21ebff; 
                background-color: #01111f;
                border:1px solid #01111f;">Password</td>
                <td><input type="password" name="passw" id="passw"  required style="border:none;
               "></td>
            </tr>
            <tr style="background-color:#01111f;
            border:1px solid #01111f;">
                <td colspan="2" style="height: 100px; 
                 border:1px solid #01111f;">
                 <input type="submit" name="submit" value="submit" class="button"
                  style="outline: none;
                 height:40px;
                 border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #21ebff;
    font-size: 20px;"></td>
            </tr>
            </div>
        </table>
      <center> 

</form>
	</body>
	</html>